img {
    height: 500px;
    float: left;
    margin: 0 15px 10px 10px;
}
.main {
    font-family: 'Lato Bold', sans-serif;
}

p {
    padding-right: 50px;
}

@media print {
    img {
        float: none;
    }
}